@page "/book/delete/{paramBookID:int}"

@using Library.BlazorApp.Data
@using Library.Business.Abstract
@using Library.Business.DependencyResolvers.Ninject
@using Library.Entities.Concrete
@inject BookServices BookServices

<div class="col-md-4">
    <table class="table">
        <tr>
            <td>Title</td>
            <td>@book.Title</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>@book.Description</td>
        </tr>
        <tr>
            <td>Price</td>
            <td>@book.Price</td>
        </tr>
        <tr>
            <td>CategoryId</td>
            <td>@book.CategoryId</td>
        </tr>
    </table>
    <div class="form-group">
        <button class="btn btn-danger" @onclick="DeleteBook">Delete</button>
        <button class="btn btn-light" @onclick="Cancel">Cancel</button>
    </div>
</div>
<h1>Book List</h1>

<p>Please check the book list given below </p>

@if (books == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var book in books.Join(categories,
                b => b.CategoryId,
                c => c.CategoryId,
                (b, c) => new
                {
                    Id = b.Id,
                    Title = b.Title,
                    Description = b.Description,
                    Price = b.Price,
                    Category = c.CategoryName
                }).ToList())
            {
        <tr>
            <td>@book.Id</td>
            <td>@book.Title</td>
            <td>@book.Description</td>
            <td>@book.Price</td>
            <td>@book.Category</td>
            <td>

                <a href='/book/edit/@book.Id'>Edit</a>
                <a href='/book/delete/@book.Id'>Delete</a>
            </td>
        </tr>}
        </tbody>
    </table>
}
@code {
    [Parameter]
    public int ParamBookID { get; set; }
    [Inject]
    public NavigationManager UrlNavigationManager { get; set; }
    protected Book book =new Book();
    protected async Task DeleteBook()
    {
        var bookService = InstanceFactory.GetInstance<IBookService>();
        bookService.Delete(book);
        UrlNavigationManager.NavigateTo("/book");
    }
    protected async Task Cancel()
    {
        UrlNavigationManager.NavigateTo("/book");
    }

    private List<Book> books;
    private List<Category> categories;
    protected override async Task OnInitializedAsync()
    {
        books = await BookServices.GetBooksAsync();
        categories = await BookServices.GetCategoryAsync();
        book = await BookServices.GetBookAsync(ParamBookID);
    }
}
